@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar-brand{
    font-family: 'Pacifico';
    font-size: 20px;
    color: lightcoral !important;
}

.pred_area{
    margin-top: 10 !important;
}