<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a href="{{url_for('predict')}}" class="navbar-brand"><span style="color:white">Alpha</span><span style="color:#00E8E8"> ML</span></a>
		<div class="collapse navbar-collapse" id='navbarMenu'>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a href="{{url_for('predict')}}" class="nav-link">Spam Predictor For Messages</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="pred_area">
	<div class="ml-container text-center">
		<form action="{{url_for('predict')}}" method="POST">
			<br/><p class='para' style="font-size:20px"><strong>Enter Your Message Here:-</strong></p>
				{% if msg %}
				<textarea name="message" rows="6" cols="60">{{msg}}</textarea>	
				{% else %}
				<textarea name="message" rows="6" cols="60"></textarea>
				{% endif %}
			<br/>
			<input type="submit" class="btn-primary mt-3" value="Predict">
		</form>
	</div>

	<div class = "fresult mt-3 text-center">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }} col-md-3 mx-auto">
					<strong>{{category}}! </strong>{{message}}
				</div>
			{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
	</div>
</body>
</html>
